<header id="header-area" class="fixed-top">

    <div id="header-bottom" style="background-color: rgb(0 0 0);">
        <div class="container">
            <div class="row">
                <!--== Logo Start ==-->
                <div class="col-lg-4">
                    <a routerLink="/Home" class="logo">
                        <!-- <img src="assets/img/logo.png" alt="JSOFT"> -->
                        <h4 style="    font-size: 30px;
                        padding-top: 10px;    color: #ffd000;">CM Gaadii.com</h4>
                    </a>
                </div>
                <!--== Logo End ==-->

                <!--== Main Menu Start ==-->
                <div class="col-lg-8 d-none d-xl-block">
                    <nav class="mainmenu alignright">
                        <ul>
                            <li routerLinkActive="active">
                                <a routerLink="/Home">Home</a>

                            </li>
                            <li routerLinkActive="active"><a href="about.html">About</a></li>
                            <li routerLinkActive="active"><a href="services.html">services</a></li>


                            <li *ngIf="!isloggedIn" routerLinkActive="active"><a routerLink="/login">Login</a></li>
                            <li  *ngIf="!isloggedIn" routerLinkActive="active"><a routerLink="/register">Register</a></li>
                            <li  *ngIf="isloggedIn" routerLinkActive="active"><a style="cursor: pointer;" routerLink="/admin">Profile</a></li>
                            <li  *ngIf="isloggedIn" (click)="logout()"><a style="cursor: pointer;">Logout</a></li>
                        
                        </ul>
                    </nav>
                </div>
                <!--== Main Menu End ==-->
            </div>
        </div>
    </div>
</header>