<header id="header-area" class="fixed-top">
    <!--== Header Top Start ==-->
    <div id="header-top" class="d-none d-xl-block">
        <div class="container">
            <div class="row">
                <!--== Single HeaderTop Start ==-->
                <div class="col-lg-3 text-left">
                    <i class="fa fa-map-marker"></i> Kerala
                </div>
                <!--== Single HeaderTop End ==-->

                <!--== Single HeaderTop Start ==-->
                <div class="col-lg-3 text-center">
                    <i class="fa fa-mobile"></i> +91
                </div>
                <!--== Single HeaderTop End ==-->

                <!--== Single HeaderTop Start ==-->
                <div class="col-lg-3 text-center">
                    <i class="fa fa-clock-o"></i> Mon-Fri 09.00 - 17.00
                </div>
                <!--== Single HeaderTop End ==-->

                <!--== Social Icons Start ==-->
                <div class="col-lg-3 text-right">
                    <div class="header-social-icons">
                        <a href="#"><i class="fa fa-behance"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <!--== Social Icons End ==-->
            </div>
        </div>
    </div>
    <!--== Header Top End ==-->

    <!--== Header Bottom Start ==-->
    <div id="header-bottom">
        <div class="container">
            <div class="row">
                <!--== Logo Start ==-->
                <div class="col-lg-4">
                    <a href="index2.html" class="logo">
                        <img src="assets/img/logoos.png" style="
                        height: 64px;" alt="JSOFT">
                    </a>
                </div>
                <!--== Logo End ==-->

                <!--== Main Menu Start ==-->
                <div class="col-lg-8 d-none d-xl-block">
                    <nav class="mainmenu alignright">
                        <ul>
                            <li class="active"><a href="#">Home</a>
                                
                            </li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="services.html">services</a></li>
                            <!-- <li> <a routerLink="">Registration</a> -->
                                <!-- </li>    -->
                            
                        </ul>
                    </nav>
                </div>
                <!--== Main Menu End ==-->
            </div>
        </div>
    </div>
    <!--== Header Bottom End ==-->
</header>
<!--== Header Area End ==-->

<!--== SlideshowBg Area Start ==-->
<section id="slider-area">
    <!--== slide Item One ==-->
    <div class="single-slide-item overlay">
        <div class="container">
            <div class="row">
                

                <div class="col-lg-7 text-right">
                    <div class="display-table">
                        <div class="display-table-cell">
                            <div class="slider-right-text">
                                <h1>BOOK A CAR TODAY!</h1>
                                <p>FOR AS LOW AS $10 A DAY PLUS 15% DISCOUNT <br> FOR OUR RETURNING CUSTOMERS</p>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <!-- <div class="row"> -->
                    <div class="col-sm-5">
                        <div class="r" style="background: rgba(245, 234, 234, 0.473);    padding: 24px;
                        border-radius: 13px;">
                        <form [formGroup]="publicreisterform">

                        <h5 style="text-align: center; color: #ffd000;    padding-bottom: 18px;">REGISTRATION</h5>
                       
                        <label for="" style="    font-size: 21px;">Name </label>
                        <input type="text" [(ngModel)]="registerModel.name" formControlName="name"placeholder="Name" class="form-control" style="    margin-bottom: 11px;background: white;">
                        
                        <label for="" style="    font-size: 21px;">Email ID </label>
                        <input [(ngModel)]="registerModel.email" formControlName="email" type="text" placeholder="Email ID" class="form-control" style="    margin-bottom: 11px;background: white;">
                        
                        <label for="" style="    font-size: 21px;">Phone Number </label>
                        <input  [(ngModel)]="registerModel.mobNo" formControlName="mobNo" type="text" placeholder="Phone Number" class="form-control" style="    margin-bottom: 11px;background: white;">
                        
                        <label for="" style="    font-size: 21px;">Address </label>
                        <textarea  [(ngModel)]="registerModel.address" formControlName="address" type="text" placeholder="Address" class="form-control" style="    margin-bottom: 11px;background: white;">
                        </textarea>
                        
                        <button (click)="register()" style="    margin-left: auto;
                        background: #ffd000;
                        margin-right: auto;
                        display: block;
                        width: 50%;" class="btn btn-warning">Register</button>
                        </form>

                    </div>
                    </div>
                <!-- </div>  -->
            </div>
        </div>
    </div>
    <!--== slide Item One ==-->
</section>
<!-- 
<section id="about-area" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>About us</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="display-table">
                    <div class="display-table-cell">
                        <div class="about-content">
                            <p>Lorem simply dummy is a texted of the printing costed and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="about-image">
                    <img src="assets/img/home-2-about.png" alt="JSOFT">
                </div>
            </div>
        </div>

        <div class="about-feature-area" >
            <div class="row">
                <div class="col-lg-4">
                    <div class="about-feature-item " style="    border: 1px solid yellow;">
                        <i class="fa fa-car"></i>
                        <h3>ALL BRANDS</h3>
                        <p>Loremed ipsumed is a compnayes odsoyel dolor sit amet, consectetur adipisicing elit. Nesciunted all of.</p>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="about-feature-item" style="    border: 1px solid yellow;">
                        <i class="fa fa-car"></i>
                        <h3>ALL BRANDS</h3>
                        <p>Loremed ipsumed is a compnayes odsoyel dolor sit amet, consectetur adipisicing elit. Nesciunted all of.</p>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="about-feature-item" style="    border: 1px solid yellow;">
                        <i class="fa fa-car"></i>
                        <h3>ALL BRANDS</h3>
                        <p>Loremed ipsumed is a compnayes odsoyel dolor sit amet, consectetur adipisicing elit. Nesciunted all of.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section> -->

<!--== Services Area Start ==-->

<section id="service-area" class="section-padding">
    <div class="container">
        <div class="row">
            
            <!-- Section Title Start -->
            
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>Our Services</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->
                </div>
            </div>
            
            <!-- Section Title End -->
        
        </div>


        <!-- Service Content Start -->

        <div class="row">
            <div class="col-lg-11 m-auto text-center">
                <div class="service-container-wrap">
                    
                    <!-- Single Service Start -->

                    <div class="service-item">
                        <i class="fa fa-taxi"></i>
                        <h3>RENTAL CAR</h3>
                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit admollitia.</p> -->
                    </div>

                   
                    <!-- Single Service End -->
                    <!-- Single Service Start -->

                    <div class="service-item">
                        <i class="fa fa-cog"></i>
                        <h3>CAR REPAIR</h3>
                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit admollitia.</p> -->
                    </div>

                    <!-- Single Service End -->
                    <!-- Single Service Start -->

                    <div class="service-item">
                        <i class="fa fa-map-marker"></i>
                        <h3>TAXI SERVICE</h3>
                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit admollitia.</p> -->
                    </div>
                    <!-- Single Service End -->

                    <!-- Single Service Start -->
                    <div class="service-item">
                        <i class="fa fa-life-ring"></i>
                        <h3>life insurance</h3>
                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit admollitia.</p> -->
                    </div>
                    <!-- Single Service End -->

                    <!-- Single Service Start -->
                    <div class="service-item">
                        <i class="fa fa-bath"></i>
                        <h3>car wash</h3>
                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit admollitia.</p> -->
                    </div>
                    <!-- Single Service End -->

                    <!-- Single Service Start -->
                    <div class="service-item">
                        <i class="fa fa-phone"></i>
                        <h3>call driver</h3>
                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit admollitia.</p> -->
                    </div>
                    <!-- Single Service End -->
                </div>
            </div>
        </div>
        <!-- Service Content End -->
    </div>
</section>

<!--== Services Area End ==-->

<!--== Fun Fact Area Start ==-->

<!--== Fun Fact Area End ==-->


<!--== Team Area Start ==-->

<!--== Team Area End ==-->

<!--== Mobile App Area Start ==-->
<!-- <div id="mobileapp-video-bg"></div> -->


<section id="mobile-app-area" style="background-color: black;">
    <div class="container">
        <div class="row">
        
        
            <div class="col-lg-6"> 
                <div class="mobile-app-content">
                    <h2>SAVE 30% WITH THE APP</h2>

                    <div class="app-btns">
                        <a href="#"><i class="fa fa-android"></i> Android Store</a>
                        <a href="#"><i class="fa fa-apple"></i> Apple Store</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>



<app-footer></app-footer>