<!-- <app-header></app-header> -->
<app-navigation></app-navigation>
<div class="page-wrapper" style="margin-top: 101px;">
    <div class="row">
        <div class="col-sm-12">
            <!-- <h5>List of cars</h5> -->
            <button routerLink="/admin" class=" btn btn-dark" style="float: Left;">Back</button>

            <button routerLink="/add-cars" class=" btn btn-success" style="float: right;">Add New Cars</button>
        </div>
    </div>
    <div class="row " style="margin-top: 11px;">
        <!-- Single Popular Car Start -->
        <div class="col-lg-3 col-md-6 con suv mpv" *ngFor="let car of carList">
            <div class="single-popular-car">
                <div class="p-car-thumbnails">
                    <!-- <a  > -->
                    <img src="{{apUrl}}vehicle/getImage1/{{car.id}}" alt="JSOFT" style="width: 100%;
                        height: 200px;">
                    <!-- </a> -->
                </div>

                <div class="p-car-content">
                    <h3>
                        <a>{{car.companyName}}</a>
                        <span class="price"><i class="fa fa-tag"></i> {{car.rentPerDay}}</span>
                    </h3>
                    <h5 style="float: right;">Model : {{car.model}}</h5>

                    <h5>{{car.numberPlate}}</h5>
                    <div class="p-car-feature">
                        <a href="#">{{car.year}}</a>
                        <a href="#">{{car.type}}</a>
                        <a href="#">{{car.locationName}}</a>
                    </div>
                </div>
                <div class="p-car-content" style="    padding: 0px 20px 19px;">
                    <button  style="margin: 2px;"  class="btn btn-dark">View</button>
                    <button   style="margin: 2px;"  class="btn btn-danger">Edit</button>
                    <button   style="margin: 2px;"  class="btn btn-warning">Delete</button>

                </div>

            </div>
        </div>
        <!-- <div class="col-lg-3 col-md-6 con suv mpv">
            <div class="single-popular-car">
                <div class="p-car-thumbnails">
                    <a class="car-hover" href="assets/img/car/car-1.jpg">
                        <img src="assets/img/car/car-5.jpg" alt="JSOFT">
                    </a>
                </div>

                <div class="p-car-content">
                    <h3>
                        <a href="#">Dodge Ram 1500</a>
                        <span class="price"><i class="fa fa-tag"></i> $55/day</span>
                    </h3>

                    <h5>HATCHBACK</h5>

                    <div class="p-car-feature">
                        <a href="#">2017</a>
                        <a href="#">manual</a>
                        <a href="#">AIR CONDITION</a>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- <div class="col-lg-3 col-md-6 con suv mpv">
            <div class="single-popular-car">
                <div class="p-car-thumbnails">
                    <a class="car-hover" href="assets/img/car/car-1.jpg">
                        <img src="assets/img/car/car-1.jpg" alt="JSOFT">
                    </a>
                </div>

                <div class="p-car-content">
                    <h3>
                        <a href="#">Dodge Ram 1500</a>
                        <span class="price"><i class="fa fa-tag"></i> $55/day</span>
                    </h3>

                    <h5>HATCHBACK</h5>

                    <div class="p-car-feature">
                        <a href="#">2017</a>
                        <a href="#">manual</a>
                        <a href="#">AIR CONDITION</a>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>