<app-navigation></app-navigation>
<div class="row" style="margin-bottom: 27px;
margin-top: 100px;  ">
    <div class="col-sm-12">
        <!-- <h5>List of cars</h5> -->
        <button routerLink="/admin" class=" btn btn-dark" style="float: Left;">Back</button>

        <button routerLink="/add-drivers" class=" btn btn-success" style="float: right;">Add Drivers</button>
    </div>
</div>
<div class="row">

    <div class="col-sm-4" *ngFor="let driverslist of driverslist">
        <mat-card>
            <div class="row">
                <div class="col-sm-4">
                    <img src="{{apUrl}}driver/getProfilePic/{{driverslist.id}}" alt="" style="    width: 164px;">
                    <img [src]="imageToShow" alt="">

                </div>
                <div class="col-sm-8">
                    <p>Driver Name : {{driverslist.name}}</p>
                    <p>Phone Number : {{driverslist.number}} </p>
                    <!-- <p>Location : {{driverslist.addresss}}</p> -->
                    <p>Pan Card No : {{driverslist.panCardNO}}</p>
                    <p>License Front : <Button (click)="getlicsence(driverslist.id)" style="    border: none;
                    background: none;" matTooltip="donwload "> <i class="fa fa-download"></i></Button></p>
                    <p>License Back : <Button style="    border: none;
                    background: none;" matTooltip="donwload"> <i class="fa fa-download"></i></Button></p>

                </div>
            </div>
        </mat-card>
    </div>
</div>